body{
    position: relative;
    width: 100%;
    font-family: 'poppins', sans-serif;
    overflow-x: hidden;
    background: #f2f2f2;
}

a,
.text-dark{
    color: #3a3a3a;
}

a:hover,
a:focus,
a.active{
    color: #3a3a3a;
    text-decoration: none;
}
.text-faded{
    color: rgba(255, 255, 255, 0.7);
}
/*button*/
.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active{
    background: rgba(64,39,160, 1);
    border-color: rgba(64, 39, 160, 1);
    color: #fff;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25);
}

.bg-primary{
    background: #350b40 !important;
}

.bg-secondary{
    background: #94b5c0 !important ;
}

.bg-th{
    background: #ad6c80 !important;
}

.bg-4{
    background: #314e52 !important;
}
.btn-xl{
    padding: 12px 30px;
    border-radius: 30px;
}


h2,h3,h4{
    margin: 0;
    font-weight: 700;
}
p{
 margin: 0;
}

section{
    padding: 100px 0px;
}
.section-title{
    position: relative;
    font-size: 50px;
    text-transform: uppercase;
    color: rgba(102, 62, 255, 1);
}
.lead{
    font-size: 16px;
    font-weight: 300;
}

/*navbar*/
.navbar{
    padding: 20px 0px;
    box-shadow: none;
    background-color: transparent;
}
.navbar-brand{
    font-size: 28px;
    font-weight: 700;
    color: #3a3a3a;
}

.navbar.navbar-expand-md .navbar-nav .nav-link{
    position: relative;
    font-size: 16px;
    font-weight: 300;
    color: black;
    padding: 0px 30px 0px 0px;
    transition: all .5s ease-in-out; 

}
.navbar.navbar-expand-md .navbar-nav .nav-item:last-child .nav-link{
    padding-right: 0;

    
}
.navbar-nav .nav-item .nav-link::before{
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 0px;
    height: 2px;
    background: #fff;
   transition: all .5s ease-in-out; 

}
.navbar-nav .nav-item .nav-link:hover::before,
.navbar-nav .nav-item .nav-link.active::before{
    width: 40px;
}

/*showcase*/
.showcase{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('https://images.unsplash.com/photo-1465225314224-587cd83d322b?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1500&q=80')no-repeat center center;
    background-size: cover;
    
}
.showcase h2{
    font-size: 50px;
    letter-spacing: .2px;
    font-weight: 300;
    


}
.showcase .lead{
    line-height: 1.4;
    color: #f2f2f2;
    
}

/*about*/
.about-section .lead{
    color: #3a3a3a;
}

/*servies*/
.services-icon{
    
    
    color: rgba(102, 62, 255, 1);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25);
}
.new-1   img{
    width: 900px;
    height: 200px;
   
}
/*portfolio*/
.portfolio-items{
    display: block;
    position: relative;
    overflow: hidden;
}
.portfolio-items img{
    height: 400px;
    object-fit: cover;
}

.portfolio-items .caption .caption-content{
    color:rgba(255, 255, 255, 0.7);
    margin: auto 30px 30px;
}
.portfolio-items .caption .caption-content h2{
    font-size: 26px;
}




/*SCROLL TO*/
.scroll-to-top{
    position: fixed;
    left: 15px;
    bottom: 15px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    background: rgba(102, 62, 255, .8);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25);
}

.scroll-to-top:focus,
.scroll-to-top:hover{
    color: #fff;
    background: rgba(102, 62, 255, .1);
}
.footer .lead{
    font-size: 14px;
    color: #3a3a3a;
}
.mark{
    color: rgba(102, 62, 255, 0.9);
    font-weight: 500;
}